<script>
    export default {
        data: function () {
            return {
                message: "Hello Vue!"
            }
        }
    }
</script>

<template>
    <button>click</button>
</template>

